.main{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainHead{
    display: flex;
}

.formContainer{
    width: 95%;
}
.icon{
    width: 60px
}

.main > p{
    color: black;
    font-weight: 400;
    font-size: 20px;
}

.editContainer{
    width: 100%;
    margin: 40px 0;
}

.outTitle{
    background-color: #DB5252;
    color: white;
    font-weight: 400;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
}

.viewContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.slideContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%
}

