.row_contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left; 
    min-height: 100vh;
    height: max-content;
    width: 100%;
   
}

.inputs{
    width: 30%;
    margin-bottom: 20px;
    margin-left: 50px;
   
}

.button_contact{
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;

}

.textarea-field {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 250px;
    justify-content: flex-start;
}

.textContactContainer{
    width:40%
}