.row_contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left; 
    height: 100vh;
    width: 100%;
   
}

.inputs{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.col_text{
    width:50%
}

.button_contact{
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;

}
