
.imagen{
    
position: absolute;
width: 708px;
height: 700px;
/* left: 810px; */
right: 0px ;
top: 80px;
}


.welcome{
    position: absolute;
    top: 144px;
    left: 142px;
    /* font-family: 'Poppins'; */
    /* font-style: normal; */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.create{
    position: absolute;
    left: 142px;
    top: 158px;
    /* font-family: 'Poppins'; */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}


.name{
position: absolute;
left: 144px;
top: 255px;
border-radius: 8px;
}
.inputName{
    box-sizing: border-box;
    position: absolute;
    width: 451px;
    height: 56px;
    left: 142px;
    top: 280px;
    background: #FFFFFF;
    border: 1px solid #B0B0B0;
    border-radius: 8px;
}


.lastName{
    position: absolute;
    left: 144px;
    top: 355px;
}
.inputLastName{
    box-sizing: border-box;
    position: absolute;
    width: 451px;
    height: 56px;
    left: 142px;
    top: 380px;
    background: #FFFFFF;
    border: 1px solid #B0B0B0;
    border-radius: 8px;
}

.email{
    position: absolute;
    left: 144px;
    top: 455px;
}
.inputEmail{
    box-sizing: border-box;
    position: absolute;
    width: 451px;
    height: 56px;
    left: 142px;
    top: 480px;
    background: #FFFFFF;
    border: 1px solid #B0B0B0;
    border-radius: 8px;
}
.inputEmail:file{
    size: 1000px;
}

.password{
    position: absolute;
    left: 144px;
    top: 555px;
}
.inputPassword{
    box-sizing: border-box;
    position: absolute;
    width: 451px;
    height: 56px;
    left: 142px;
    top: 580px;
    background: #FFFFFF;
    border: 1px solid #B0B0B0;
    border-radius: 8px;
}

.buttonCreate{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 448px;
height: 56px;
left: 142px;
top: 660px;

background: #ff0707b2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
cursor: pointer;
color: white;
font-size: 24px;
/* font-family: 'Poppins'; */
/* font-style: normal; */
}
.buttonCreate:hover{
    background: #ff0000;
}



